<div class="home-cont">
    <h1>Welcome to Saven Tech</h1>
    <h1>Sameple Angular project Home Page</h1>
    <P class="desc">Angular is a platform and framework for building single-page client applications using HTML and TypeScript. Angular is written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your applications.</P>
    <p class="desc">The architecture of an Angular application relies on certain fundamental concepts. The basic building blocks of the Angular framework are Angular components that are organized into NgModules. NgModules collect related code into functional sets; an Angular application is defined by a set of NgModules. An application always has at least a root module that enables bootstrapping, and typically has many more feature modules.</p>
</div>
